@media (min-width: 768px){
    .navbar-brand {
         height: auto; 
        padding: 50px 15px;
    }
    .navbar-nav > li > a {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .nav > li > a {
    padding: 50px 40px;
    }
}
.navbar-default{
    background: none;
    border: none;
    border-top: 5px solid #6b15a1;
}
.banner{
    text-align: center;
    padding-bottom: 120px;
}
.banner span{
    padding-left: 22px;
    padding-right: 22px;
    color: #6b15a1;
    font-size: 110px;
    border-radius: 10px;
    border: #6b15a1 solid 1px;
}
.banner h1{
    height: 32px;
    color: #293a46;
}
.banner p{
    height: 14px;
    color: #69757e;
    padding-top: 31px;
    padding-bottom: 37px;
}
.banner a{
    background-color: #6b15a1;
    padding: 13px 26px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}


.section {
    text-align: center;
    padding-bottom: 120px;
}
.section h3{
    font-size: 14px;
    color: #293a46;
    font-weight: bold;
}
.section p{
    font-size: 14px;
    color: #697176;
}
.section-bottom{
    text-align: center;
    font-size: 26px;
    padding-bottom: 64px; 
}


.top1{
    background-image: url(../images/insta-1.jpg);
    height: 150px;
    background-size: cover;
}
.top2{
    background-image: url(../images/insta-2.jpg);
    height: 150px;
    background-size: cover;
}
.top3{
    background-image: url(../images/insta-3.jpg);
    height: 150px;
    background-size: cover;
}
.top{
    border: 1px #ddd solid;
    border-radius: 5px 5px 0px 0px;
}
.main-bottom .bottom img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border:3px #fff solid;
    margin-top: -50px;
}
.main-bottom .bottom{
    text-align: center;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding-bottom: 42px;
}
.main-bottom h3,.main-bottom p{
    color: #293a46;
    font-size: 14px;
}
.main-bottom p{
    padding-bottom: 23px;
}
.main-bottom a{
    padding: 10px 16px;
    background-color: #6b15a1;
    font-size: 9px;
    color: #fff;
    border-radius: 5px;
}
.main-bottom{
    padding-bottom: 135px;
}



.footer-top .text{
    border-top: 5px solid #6b15a1;
    border-radius: 3px 3px 0px 0px;
}
.footer-top .text-top{
    border-radius: 3px;
    border: 1px #ddd solid;
}
.footer-top .container{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-top a{
    padding: 13px 26px;
    background-color: #6b15a1;
    font-size: 9px;
    color: #fff;
    border-radius: 5px;
}
.footer-top-left{
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.footer-top-right{
    float: right;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 40px;
}
.footer-bottom{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 80px;
}
.footer-bottom a{
    color: #6b15a1;
/*    text-decoration: none;*/
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
}