*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}




/*--返回顶部---*/
.totop{
    background-image: url(../images/totop.png);
    width: 30px;
    height: 45px;
    background-size: cover;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    z-index: 200;
}



/*--header部分样式-*/
.header .row1 img{
    width: 100%;
}
.header .top{
    background-color: #04080a;
}
.header .top span{
    color: #d0af51;
}
.header .top h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.header .top p{
    color: #a4a2a2;
}
.header .top .row{
    position: relative;
    margin: 0;
}
.header .bottom .row{
    margin: 0;
}
.header .top .left{
    position: absolute;
    top: 152px;
    right: 50px;
    text-align: right;
    letter-spacing: 3px;
}
.header .top .col-md-7{
    padding: 0;
}
.header .bottom .ul1 li{
    float: left;
    list-style: none;
    background-color: #000;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 15px 0px 15px 30px;
    border-radius: 100%;
    opacity: 0.3;
}
.header .bottom .ul1 li:hover{
    opacity: 1;
}
.header .bottom ul li i{
    margin-top: 7px;
    color: #fff;
    font-size: 16px;
}
.header .bottom .ul1{
    float: right;
    margin-right: 50px;
    margin-bottom: 0px;
}
.header .bottom .col-md-5{
    background-color: #efefef;
    padding: 0;
}
.bottom .col-md-7{
    background-color: #000;
    padding: 0;
}
.bottom .navbar {
     margin-bottom: 0px; 
}
.bottom .navbar-default {
    background: none;
    border:none;
}
.header .bottom nav {
     float: none; 
}
.header .container-fluid {
     padding-right: 0px; 
     padding-left: 0px; 
}
.header .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.header .navbar-nav > li > a {
    padding: 20px 30px;
    font-size: 16px;
    color: #D0AF51;
    font-weight: 100;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #D0AF51;
    background-color: #3C3C3D;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #3C3C3D;
    color: #D0AF51;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    width: 100%;
}




/*---main1部分样式---*/
.index .main1 {
    margin-bottom: 70px;
}
.index .main1 .top h2{
    font-size: 40px;
    padding-top: 50px;
}
.index .main1 .top p{
    font-size: 16px;
    color: #D0AF51;
    padding-bottom: 50px;
}
.index .main1 .top .container{
    padding: 0;
}
.index .main1 img{
    width: 100%;
}



/*---main2部分样式---*/
.index .main2 {
    margin-bottom: 50px;
    background-color: #efefef;
}
.index .main2 .top h2{
    font-size: 40px;
    padding-top: 50px;
}
.index .main2 .top p{
    font-size: 16px;
    color: #D0AF51;
    padding-bottom: 50px;
}
.index .main2 img{
    width: 100%;
    margin-bottom: 30px;
}

.index .main2 .ppp{
    border: 1px #D0AF51 solid;
    background: #fff;
    padding: 22px;
}
.index .main2 .pp{
    border: 1px #D0AF51 solid;
/*    background: #fff;*/
    padding: 15px;
}
.index .main2 h3{
    font-size: 30px;
    color: #838383;
    font-weight: bold;
    
}
.index .main2 p{
    font-size: 16px;
    color: #838383;
    
}
.index .main2 span{
    font-style: italic;
}



/*---main3部分样式---*/
.index .main3 {
    margin-bottom: 50px;
/*    background-color: #efefef;*/
}
.index .main3 .top h2{
    font-size: 40px;
    padding-top: 50px;
}
.index .main3 .top p{
    font-size: 16px;
    color: #D0AF51;
    padding-bottom: 50px;
}
.index .main3 img{
    width: 100%;
    margin-bottom: 30px;
    border: 1px #D0AF51 solid;
    padding: 10px;
}
.index .main3 span{
    color: #D0AF51;
}
.index .main3 .p {
    text-align: center;
    padding: 30px 20px;
}
.index .main3 .p a{
    border: 2px solid #d1d1d1;
    font-size: 14px;
    padding: 10px 30px;
    color: #333;
}
.index .main3 .p a:hover{
    color: #D0AF51;
}
.index .main3 .p p{
/*    padding-top: 20px;*/
    padding-bottom: 20px;
}





/*---main4部分样式---*/
.main4{
    text-align: center;
    background-color: #181818;
}
.main4 h2{
    color: #D0AF51;
}
.main4 .p1{
    color:#ddd ;
}
.main4 .p2{
    color:#838383;
    margin-top: 70px;
    padding-bottom: 70px;
    width: 770px;
    margin-bottom: 0px;
}
.main4 h2{
    font-size: 50px;
    padding-top: 70px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.main4 .dp{
    width: 770px;
    margin: 0 auto;
}



/*---footer部分样式---*/
footer{
    text-align: center;
    color:#fff;
    background-color: #000;
}
footer p{
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}







/*--subpage---*/


/*---main1部分样式---*/
.subpage .main1 {
    margin-bottom: 50px;
}
.subpage .main1 h2{
    font-size: 30px;
    padding-top: 20px;
}
.subpage .main1 span{
    font-style: italic;
    color: #D0AF51;
}
.subpage .main1 .col-md-8 p{
    font-size: 14px;
    color: #838383;
    margin-bottom: 20px;
    margin-top: 20px;
}
.subpage .main1 h3{
    margin-bottom: 10px;
}
.subpage .main1 .container{
    padding: 0;
}
.subpage .main1 img{
    width: 100%;
}
.subpage .main1 a{
    font-size: 16px;
    color: #838383;
}
.subpage .main1 i{
    font-size: 20px;
}
.subpage .main1 a:hover{
    color: #D0AF51;
}
.subpage .main1 .p11{
    border-bottom: 1px #eeeeee solid; 
    padding-bottom:40px;
    margin-bottom: 40px;
}
.subpage .main1 .mainr{
    padding-top: 40px;
}
.subpage .main1 .mainn{
    border-bottom: 1px solid #D0AF51;
    padding-top: 20px;
}
.subpage .main1 .mainr h3{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #D0AF51;
    padding-bottom: 20px;
/*    width: 200px;*/
}
.subpage .main1 .ma a{
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: #838383 1px dashed;
}
.subpage .main1 .mainr a:nth-last-child(1){
    border: none;
}
.subpage .main1 .mainr h4{
    font-weight: bold;
    font-size: 14px;
}
.subpage .main1 .mainr .span2{
    font-weight: bold;
    font-style: italic;
    padding-bottom: 20px;
}
.subpage .main1 .mainr p{
    padding-top: 10px;
    line-height: 150%;
}
.subpage .main1 .mainr .mainm {
    margin-top: 20px;
}
.subpage .main1 .mainr .mainm a{
    padding: 8px 10px;;
    display: inline-block;
    color: #AFADAD;
    background-color: #505050;
    font-size: 14px;
    margin-bottom: 5px;
}
.subpage .main1 .mainr .mainm a:hover{
    text-decoration: none;
    color: #D0AF51;
}




/*--subpage---*/


/*---main1部分样式---*/
.contact .main1 h2{
    font-size: 40px;
    padding-top: 50px;
}
.contact .main1 p{
    font-size: 16px;
    color: #D0AF51;
    padding-bottom: 50px;
}
.contact .col-md-3{
    margin-bottom: 30px;
    text-align: center;
    opacity: 0.9;
}
.contact .col-md-3:hover{
    opacity: 1;
}
.contact .col-md-3 .c3-1{
    border: 1px solid #D0AF51;
    padding: 15px;
}






/*---main2部分样式---*/
.contact .main2 h2{
    font-size: 40px;
    padding-top: 50px;
    padding-left: 15px;
}
.contact .main2 .p1{
    font-size: 16px;
    color: #D0AF51;
    padding-bottom: 30px;
    padding-left: 15px;
}
.contact .main2 span{
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}
.contact .main2{
    background-color: #eeeeee;
}
.contact .main2 input{
    display: block;
    background-color: #000;
    color: #DDD;
    width: 100%;
    padding: 8px;
    margin-top: 20px;
}
.contact .main2 textarea{
    display: block;
    background-color: #000;
    color: #DDD;
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 243px;
}
input::-webkit-input-placeholder{
    color: #999;
}
#feedbackcontent::-webkit-input-placeholder{
    color:#999;
}
.contact .main2 img{
    width: 100%;
}
.contact .main2 .img{
    border: 1px solid #D0AF51;
    padding: 15px;
}
.contact .main2 .p2{
    margin-bottom: 0px;
}





@media screen and (max-width:768px){
    .totop{
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
    .header .bottom .ul1 {
         float: none; 
         margin-right: 0px; 
    }
    .header .bottom{
        text-align: center;
    }
    .header .top .col-md-5{
        height: 100px;
    }
    .header .top .col-md-5 .left{
        position: static;
        text-align: center;
    }
    .header .top .col-md-5 .left h1{
        font-size: 30px;
    }
    .header .top .col-md-5 .left p{
        font-size: 12px;
    }

    
    
    
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100
    }
    
    
    
    
    
    
        .header .navbar-toggle{
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 500;
    }
    .navbar-default{
        position: fixed;
        top: 50px;
        right: 0px;
    }
    .navbar-nav{
        background-color: #000;
    }
    .index .bottom .col-md-7 {
        background:none;
    }
    .navbar-default .navbar-toggle {
         background-color: transparent; 
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
         background-color: #000; 
    }
    .navbar-default .navbar-toggle {
        background-color: #000;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color:  #D0AF51;
    }
    .navbar-default .navbar-toggle {
        border-color: #000;
    }

    
    
    
    
    .index .main1 .top h2{
        font-size: 30px;
        padding-top: 20px;
    }
    .index .main1 .top p{
        font-size: 16px;
        color: #D0AF51;
        padding-bottom: 20px;
    }
    .index .main1 .col-md-4{
        padding: 0;
    }
    .index .main1 img{
        margin-bottom: 20px;
    }
    .index .main2 .top h2{
        font-size: 30px;
        padding-top: 20px;
    }
    .index .main2 .container{
        padding: 0;
    }
    .index .main3 .container{
        padding: 0;
    }
    .index .main3 .row{
        margin: 0;
    }
    .index .main3 .img{
       padding: 0;
    }
    .index .main2 .p{
        margin-bottom: 20px;
    }
    .index .main2 .top p{
        font-size: 16px;
        color: #D0AF51;
        padding-bottom: 20px;
    }
    .index .main2 .col-md-6{
        padding: 0;
    }
    .index .main2 .row{
        margin: 0;
    }
    footer p{
       padding: 5px;
    }
    .index .main3 .top h2 {
        font-size: 30px;
        padding-top: 0px;
    }
    .index .main3 .top p {
        padding-bottom: 0px;
    }
    .main4 .dp{
        width: 100%;
    }
    .main4 .p2{
        width: 100%;
    }
    .subpage .main1 .m4{
        padding: 15px;
    }
    .subpage .main1 .p11-b{
        padding: 15px;
    }
    .subpage .main1 .col-md-8 h2,.subpage .main1 .col-8-p{
        padding-left: 15px;
    }
    .subpage .main1 .col-md-8,.subpage .main1 .col-md-4{
        padding: 0;
    }
    .subpage .main1 .row{
        margin: 0;
    }
    .bottom .col-md-7 {
         background-color: transparent; 
    }
    
    
    
    .contact .container{
        padding: 0;
    }
    .contact .col-md-6{
        padding: 0;
    }
    .contact .col-md-3{
        padding: 0;
    }
    .contact .row{
        margin: 0;
    }


        
}