body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../注册成功页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:14px;
    top:0px;
    width:950px;
    height:750px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:756px;
}

.u1 {
    position:absolute;
    left:2px;
    top:367px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../注册成功页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:10px;
    width:161px;
    height:81px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:87px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../注册成功页面_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:261px;
    top:29px;
    width:679px;
    height:62px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:685px;
    height:68px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:675px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:885px;
    top:10px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:352px;
    top:365px;
    width:241px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:790px;
    top:674px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

