*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}




/*--返回顶部---*/
.totop{
    background-image: url(../images/totop.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    position: fixed;
    bottom: 140px;
    right: 22px;
    opacity: 0.7;
    z-index: 200;
}




body{
    margin-bottom: 2000px;
}
/*----header部分样式--*/
.index .header{
    background-color: #002157;
    height: 50px;
/*    background-size: cover;*/
    width: 100%;
    
}
.index .header .container{
    padding: 0px;
}
.index .header li{
    list-style: none;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.index .header .ul{
    float: right;
    margin-top: 13px;
}
.index .header .p1{
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding-top: 12px;
}
.index .header .p2{
    float: left;
    color: #fff;
    margin-left: 20px;
    margin-top: 14px;
}
.index .header .p2 a{
    color: #fff;
}
.index .header .p1 a{
    color: #fff;
}
.index .header .navbar-default{
    background-color: #fff;
    border: none;
    border-radius: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: #ccc solid 1px; 
    position: fixed;
    width: 100%;
    z-index: 100;
}
.index .header .navbar-collapse{
    float: right;
}
.index .header .form-group{
    position: relative;
}
.index .header .form-group i{
    position: absolute;
    right: 7px;
    top: 12px;
    font-size: 12px;
    color: red;
}
.index .header .form-control{
    border-radius: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: transparent;
    border: #ccc solid 1px;
}
.navbar-default .navbar-nav > .active > a:hover{
    color: red;
}
.navbar-nav > li > a {
    margin-top: 8px;
     padding-top: 6px; 
     padding-bottom: 6px; 
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: red;
    background-color: transparent;
}
.nav > li > a {
    padding: 10px 10px;
    font-weight: bold;
}
.navbar-brand {
    padding: 15px 0px;
}





/*---banner部分样式--*/
.index .banner {
    margin-top: 150px;
}
.index .banner img{
    width: 100%;
}
.index .banner .row1 img{
    height: 350px;
}
.index .banner .col-md-7 .a1 .a{
    border: 1px #ccc solid;
    padding: 5px;
    font-size: 12px;
    display: block;
    width: 21%;
    text-decoration: none;
}
.index .banner .col-md-7 .a1 .a:hover{
    color: #ff0000;
    border: 1px #ff0000 solid;
    transition: 0.5s;
}
.index .banner .col-md-7 .a1 p{
    float: right;
    margin-top: -26px;
}
.index .banner .col-md-7 .a1{
    margin-top: 30px;
}
.index .banner .col-md-5 .a:hover{
    color: #ff0000;
    border: 1px #ff0000 solid;
    transition: 0.5s;
}
.index .banner .col-md-5 .a{
    border: 1px #ccc solid;
    padding: 5px;
    font-size: 12px;
    display: block;
    width: 30%;
    text-decoration: none;
    margin-top: 30px;
}
.index .banner h2{
    font-size: 28px;
}





@media screen and (max-width:768px){
    .index .header .p2,.index .header .ul{
        display: none;
    }
    .index .header li {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .index .header .navbar-collapse {
        float: none;
    }
    .index .header .navbar-default {
         border-bottom:none; 
    }
    .navbar-form {
         border-top: none; 
         border-bottom: none; 
    }
    .index .header .navbar-default{
        padding-top: 18px;
        padding-bottom: 18px;
        border-bottom: #ccc solid 1px;
    }
    .index .banner{
        margin-top: 120px;
    }
    .index .header .container{
        padding: 0px 15px;
    }
    .navbar-brand {
        padding: 15px 15px;
    }
    .index .banner .row1 img{
        height: 200px;
    }
    .index .banner .col-md-7 h2,.index .banner .col-md-7 p,.index .banner .col-md-7 .a,.index .banner .col-md-5 a,.index .banner .col-md-5 h2{
        padding-left: 15px;
    }
    .index .banner .col-md-7,.index .banner .col-md-5{
        padding: 0px;
    }
    .index .banner .col-md-7 .a1 p{
        float: none;
        margin-top: 0px;;
    }
    .index .banner .col-md-7 .a1 .a {
        width: 36%;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .index .banner .col-md-5 .a {
        width: 36%;
        margin-left: 15px;
    }
}