*{
    margin: 0;
    padding: 0;
}
.contianer{
    width: 1130px;
    margin: auto;
}
body{
    font-family: Arial;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}


header{
    background-color: #cf4646;
}
header .logo{
    font-size: 17px;
    padding-top: 18px;
    color: #efefef;
}
header .logo,header .text{
        float: left;
/*    width: 50%;*/
}
header .text{
    float: right;
/*    padding-left: 520px;*/
    padding-top: 19px;
}
header .text a{
    color: #e8e8e8;
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 12px;
}
nav{
    padding-bottom: 84px;
}
.banner{
    text-align: center;
    padding-bottom: 77px;
}
.banner p{
    color: #f7ffff;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 46px;
}
.banner a{
    font-size: 18px;
    color: #efbfbf;
    text-decoration: none;
    border: 2px #efbfbf solid;
    padding: 11px 14px;
}

.main{
    padding-top: 72px;
}
.main-div{
    width: 50%;
    float: left;
    padding-bottom: 82px;
}
.main-div h2{
    color: #333333;
    font-size: 30px;
}
.main-div p{
    color: #333333;
    font-size: 17px;
}



footer{
    text-align: center;
}
footer p{
    padding-bottom: 16px;
    color: #aaaaaa;
    font-size: 12px;
}


@media screen and (max-width: 600px){
    header .logo{
        width: 100%;
    }
    .contianer{
        width: 80%;
    }
    nav{
        text-align: center;
    }
   header .text{
    padding-left:0px;
}
    header .text a{
    display: inline-block;
}
    .main{
        text-align: center;
    }
    .main-div{
        width: 100%;
    } 
}