body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../卖房_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:950px;
    height:750px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:756px;
}

.u1 {
    position:absolute;
    left:2px;
    top:367px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../卖房_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:2px;
    top:10px;
    width:161px;
    height:81px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:167px;
    height:87px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:157px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../卖房_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:261px;
    top:29px;
    width:679px;
    height:62px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:685px;
    height:68px;
}

.u5 {
    position:absolute;
    left:2px;
    top:23px;
    width:675px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:788px;
    top:11px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:888px;
    top:10px;
    width:52px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../卖房_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:101px;
    width:948px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:954px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:944px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_menu {
    background-image: url('../卖房_files/u10_menu.png');
}

.u10_menu {
    position:absolute;
    left:165px;
    top:98px;
    width:63px;
    height:44px;
}

#u10_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:41px;
}

#u11 {
    position:absolute;
    left:3px;
    top:3px;
    width:53px;
    height:34px
}

.u12_mouseOver {
    background-image: url('../卖房_files/u12_mouseOver.png');
}

.u12_normal {
    background-image: url('../卖房_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:29px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:35px;
}

.u13 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_menu {
    background-image: url('../卖房_files/u14_menu.png');
}

.u14_menu {
    position:absolute;
    left:665px;
    top:98px;
    width:63px;
    height:44px;
}

#u14_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:41px;
}

#u15 {
    position:absolute;
    left:3px;
    top:3px;
    width:53px;
    height:34px
}

.u16_mouseOver {
    background-image: url('../卖房_files/u12_mouseOver.png');
}

.u16_normal {
    background-image: url('../卖房_files/u12_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:29px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:35px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_menu {
    background-image: url('../卖房_files/u18_menu.png');
}

.u18_menu {
    position:absolute;
    left:785px;
    top:98px;
    width:63px;
    height:44px;
}

#u18_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:41px;
}

#u19 {
    position:absolute;
    left:3px;
    top:3px;
    width:53px;
    height:34px
}

.u20_mouseOver {
    background-image: url('../卖房_files/u12_mouseOver.png');
}

.u20_normal {
    background-image: url('../卖房_files/u12_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:29px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:35px;
}

.u21 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:-1px;
    top:138px;
    width:951px;
    height:361px;
    overflow:hidden;
}

#pd1u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:361px;
    
}

.u23_normal {
    background-image: url('../卖房_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:948px;
    height:358px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:954px;
    height:364px;
}

.u24 {
    position:absolute;
    left:2px;
    top:171px;
    width:944px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:951px;
    height:361px;
    
}

.u25_normal {
    background-image: url('../卖房_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:0px;
    width:950px;
    height:358px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:364px;
}

.u26 {
    position:absolute;
    left:2px;
    top:171px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:374px;
    top:498px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:474px;
    top:498px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:814px;
    top:10px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_menu {
    background-image: url('../卖房_files/u30_menu.png');
}

.u30_menu {
    position:absolute;
    left:284px;
    top:99px;
    width:63px;
    height:44px;
}

#u30_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:41px;
}

#u31 {
    position:absolute;
    left:3px;
    top:3px;
    width:53px;
    height:34px
}

.u32_mouseOver {
    background-image: url('../卖房_files/u12_mouseOver.png');
}

.u32_normal {
    background-image: url('../卖房_files/u12_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:29px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:35px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_menu {
    background-image: url('../卖房_files/u34_menu.png');
}

.u34_menu {
    position:absolute;
    left:48px;
    top:0px;
    width:115px;
    height:63px;
}

#u34_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:60px;
}

#u35 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:53px
}

.u36_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u36_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:24px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u38_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:24px;
    width:100px;
    height:24px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_menu {
    background-image: url('../卖房_files/u40_menu.png');
}

.u40_menu {
    position:absolute;
    left:408px;
    top:98px;
    width:63px;
    height:44px;
}

#u40_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:41px;
}

#u41 {
    position:absolute;
    left:3px;
    top:3px;
    width:53px;
    height:34px
}

.u42_mouseOver {
    background-image: url('../卖房_files/u12_mouseOver.png');
}

.u42_normal {
    background-image: url('../卖房_files/u12_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:29px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:35px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_menu {
    background-image: url('../卖房_files/u44_menu.png');
}

.u44_menu {
    position:absolute;
    left:48px;
    top:0px;
    width:115px;
    height:87px;
}

#u44_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:84px;
}

#u45 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:77px
}

.u46_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u46_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:24px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u48_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u48_container {
    position:absolute;
    left:0px;
    top:24px;
    width:100px;
    height:24px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u50_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:48px;
    width:100px;
    height:24px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_menu {
    background-image: url('../卖房_files/u52_menu.png');
}

.u52_menu {
    position:absolute;
    left:536px;
    top:98px;
    width:63px;
    height:44px;
}

#u52_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:60px;
    height:41px;
}

#u53 {
    position:absolute;
    left:3px;
    top:3px;
    width:53px;
    height:34px
}

.u54_mouseOver {
    background-image: url('../卖房_files/u12_mouseOver.png');
}

.u54_normal {
    background-image: url('../卖房_files/u12_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:48px;
    height:29px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:35px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_menu {
    background-image: url('../卖房_files/u56_menu.png');
}

.u56_menu {
    position:absolute;
    left:48px;
    top:0px;
    width:115px;
    height:87px;
}

#u56_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:84px;
}

#u57 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:77px
}

.u58_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u58_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u58_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:24px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u60_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:24px;
    width:100px;
    height:24px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../卖房_files/u36_mouseOver.png');
}

.u62_normal {
    background-image: url('../卖房_files/u36_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:48px;
    width:100px;
    height:24px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:30px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

