*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    margin-bottom: 67px;
}


/*--返回顶部---*/
.totop{
    background-image: url(../images/totop.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    position: fixed;
    bottom: 140px;
    right: 22px;
    opacity: 0.7;
    z-index: 200;
}
/*--打开APP---*/
.dakai a{
    background-image: url(../images/shouye/dakaiapp.png);
    width: 53px;
    height: 60px;
    background-size: cover;
    display: inline-block;
    position: fixed;
    bottom: 74px;
    right: 10px;
/*    opacity: 0.7;*/
    z-index: 200;
}

/*--底部导航部分--*/
nav ul::after{
    content: "";
    clear: both;
    display: table;
}
nav li{
    float: left;
    list-style: none;
    width: 25%;
}
nav .fa{
    font-size: 25px;
}
nav span{
    font-size: 14px;
    display: block;
}
nav a{
    text-decoration: none;
    color: #5d5f6a;
}
nav a:hover,
nav .active a{
    color: #ff0000;
}
nav{
    text-align: center;
}
nav ul{
    position: fixed;
/*    right: 0;*/
    bottom: 0px;
    left:0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #cbcbcb;
    z-index: 100;
    background-color: #fff;
    margin-bottom: 0px;
}
nav .fa{
    position: relative;
}
nav .hot {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: -2px;
}

.index .topp{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}

/*---为你推荐部分----*/
.wei .top{
    text-align: center;
    margin-bottom: 20px;
}
.wei h2{
    font-size: 16px;
    font-weight: bold;
/*    color: #ed5d55;*/
    padding-top: 7px;
    margin-bottom: 0px;
}
.wei img{
    width: 100%;
}
.wei h3{
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
/*    display: table;*/
    overflow: hidden;
    color: #232326;
}
.wei .p{
/*    font-size: 16px;*/
/*    height: 30px;*/
    color: #ff5959;
    float: left;
}
.wei .span1{
    color: #ff5959;
    font-size: 14px;
}
.wei .span2{
    color: #232326;
    font-size: 12px;
}
.wei .col-xs-6{
    padding: 15px;
}
.wei .row{
    margin: 0px;
}
.wei .container{
    margin: 0;
    padding: 0;
}
.wei .kan{
    font-size: 12px;
    color: #686868;
    border: 1px solid #e2e2e2;
/*    display: table;*/
    padding: 2px 4px;
    float: right;
}
.wei .ziying{
    background-image: url(../images/weinituijian/ziying.png);
    width: 33px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}
.wei .quanqiugou{
    background-image: url(../images/weinituijian/quanqiugou.png);
    width: 46px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}




/*--header部分样式-*/
.index .header{
    padding: 9px 10px;
    border-bottom: 1px #dddddd solid;
    background-color: #fff;
}
.index .header img{
    width: 30%;
    float: left;
    padding-right: 5px;
}
.index .header .center{
    width: 55%;
    float: left;
    position: relative;
}
.index .header .center i{
    position: absolute;
    left: 5px;
    top: 4px;
    color: #c8c8c8;
}
.index .header .center p{
    position: absolute;
    left: 20px;
    top: 2px;
    color: #c8c8c8;
}
.index .header input{
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #f9f9f9;
    padding-top: 2px;
    padding-bottom: 2px;
}
.index .header .a{
    width: 15%;
    float: left;
    border: 1px #f04848 solid;
    text-align: center;
    border-radius: 15px;
    color: #f04848;
}

/*---nav部分样式---*/
::-webkit-scrollbar {
    width: 0px;
}
.in-nav{
    overflow: scroll;
}
.in-nav ul{
    width: 560px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px #dddddd solid;
    margin-bottom: 0px;
    background-color: #fff;
}
.in-nav li{
    float: left;
    list-style: none;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    height: 24px;
}
.in-nav li a{
    color: #333;
    padding-bottom:7px;
}
.in-nav a:hover,.in-nav a:focus {
     text-decoration: none; 
}
.in-nav li a:hover{
    color: #f04848;
    border-bottom: 4px #f04848 solid;
}
.in-nav .active a{
    color: #f04848;
    border-bottom: 4px #f04848 solid;
}
.in-nav .bottom{
    right: 0px;
    top: 45px;
    height: 30px;
    background-color: #fff;
    padding: 0px 5px 0px 5px;
    position: fixed;
}
.in-nav .bottom p{
    margin-top: 10px;
    color: #333;
    font-size: 12px;
    margin-bottom: 10px;
}
.in-nav .bottom p i{
    padding-right: 2px;
}





/*---banner部分样式---*/
.banner{
    margin-top: 83px;
}
.banner img{
    width: 100%;
    height: 160px;
}  



/*---main部分样式---*/
.index .main{
    background-color: #eee;
}
.index .main img{
    width: 100%;
    height:123px;
}
.index .main .row{
    margin: 0px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
}
.index .main .col-xs-5{
    padding-left: 5px;
    padding-right: 5px;
}
.index .main .col-xs-7{
    padding-left: 5px;
    padding-right: 5px;
}
.index .ma-7{
    padding: 0px;
    height: 123px;
    display: table-cell;
    vertical-align:middle;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    min-height: 68px;
}
.index .main h3{
    font-weight: bold;
    font-size: 14px;
/*    margin-top: 30px;*/
    margin-bottom: 5px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 1px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 700;
}
.index .main p{
    float: left;
    margin-bottom: 0;
}
.index .main .p{
    width: 100%;
}
.index .main span{
    color: #f04848;
    font-size: 14px;
}
.index .col-xs-5{
    position: relative;
}

.index .i1{
    font-style: normal;
    color: #fff;
    background: rgba(240,72,72,.8);
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 0;
    top: 0;
}
.index .i2{
    font-style: normal;
    color: #fff;
    background: rgba(0,0,0,.8);
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 0;
    top: 0;
}
.index .col-xs-7 .p,.index .col-xs-7 i{
    font-size: 12px;
    color: #888;
}
.index .col-xs-7{
    position: relative;
}
.index .col-xs-7 i{
    position: absolute;
    right: 0;
    bottom: 0;
}

.index .bottomm img{
    width: 20%;
    float: left;
    padding: 5px;
}
.index .bottomm .p{
    width: 45%;
    float: left;
    margin-top: 10px;
    padding: 5px;
}
.index .bottomm a{
    width: 27%;
    float: left;
    padding: 8px 7px;
    border: 1px #cdcdcd solid;
    text-align: center;
    border-radius: 5px;
    color: #cdcdcd;
    margin-top: 15px;
}
.index .bottomm .span{
    width:8%;
    float: left;
    margin-top: 15px;
    padding: 8px;
}
.index{
    position: relative;
}
.index .bottomm{
    background-color: #4c4c4c;
    opacity: 0.8;
    color: #cdcdcd;
    height: 67px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    width: 100%;
}





/*--classify部分样式----*/


/*--header部分样式-*/
.classify .header{
    padding: 9px 10px;
    border-bottom: 1px #dddddd solid;
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    height: 41px;
    z-index: 100;
}
.classify .header img{
    width: 30%;
    float: left;
    padding-right: 5px;
}
.classify .header input{
    width: 100%;
    border-radius: 15px;
    border: none;
    background-color: #f9f9f9;
    padding-top: 2px;
    padding-bottom: 2px;
}
.classify .header .a{
    width:25%;
/*    float: left;*/
    border: 1px #f04848 solid;
    text-align: center;
    border-radius: 15px;
    color: #f04848;
}
.classify .header .a{
    float: right;
    margin-top: -20px;
}



/*---main部分样式---*/
.classify .main{
/*    position: fixed;*/
    width: 100%;
/*    margin-bottom: 200px;*/
}
.classify .main .lis a{
    color: #333;
}
.classify .main .lis li{
    list-style: none;
    padding: 10px;
    text-align: center;
}

.classify .main .row{
    margin: 0;
}
.classify .main .col-xs-3{
    margin-top: 41px;
    padding:0px;
    border-right: 1px #dddddd solid;
/*    overflow: scroll;*/
/*    height:480px; */
}
.classify .main .active{
    color: #fff;
    background-color: #f04848;
}
.classify .main .col-xs-9{
    margin-top: 41px;
    padding: 0;
/*    overflow: scroll;*/
/*    height:480px;*/
}
.classify .mainn li{
    list-style: none;
    padding: 9.5px;
    border-bottom: 1px #dddddd solid;
    padding-left: 30px;
   color: #333;
}
.classify .mainn li::after{
    content: "";
    display: table;
    clear: both;
}
.classify .mainn span{
    float: right;
    padding-right: 20px;
}
.classify .mainn li .hot{
    background-image: url(../images/classify/hot.png);
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
}
.classify .mainn1 .top p{
    padding: 9.5px;
    border-bottom: 1px #dddddd solid;
    padding-left: 30px;
    margin-bottom: 0;
}
.classify .mainn1 .top p{
    box-shadow:0px 5px 5px #ededed;
}
.classify .mainn1 .main1 p{
    padding: 9.5px;
    border-bottom: 1px #dddddd solid;
    padding-left: 30px;
    margin-bottom: 0;
}
.classify .mainn1 .top span{
    float: right;
    padding-right: 20px;
}
.classify .mainn1 .main1 span{
    padding:2px 6px;
    border: 1px #dddddd solid;
    border-radius: 5px;
    display: inline-block;
    margin:6px 9px;
}
.classify .mainn1 .main1{
    box-shadow:0px 5px 5px #ededed;
    border-bottom: 1px #dddddd solid;
}





/*--cart部分样式----*/


/*--header部分样式-*/
.cart .header{
    padding: 9px 10px;
    border-bottom: 1px #dddddd solid;
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    height: 41px;
    z-index: 100;
}
.cart .header h2{
    font-size: 20px;
    margin: -8px;
    text-align: center;
}
.cart .header a{
    position: absolute;
}
.cart .main{
    padding-top: 41px;
    background-color: #eee;
    text-align: center;
    padding-bottom: 40px;
}
.cart .main p{
    padding-top: 20px;
    padding-bottom:10px;

}
.cart .main img{
    margin-top: 50px;
    height: 50px;
    width: 64px;
}
.cart .main a{
    padding: 5px 10px;
    background-color: #f66;
    color: #fff;

}
/*
.cart .cai img{
    width: 100%;
}
.cart .row{
    margin: 0;
}
.cart .col-xs-6{
    padding: 0;
}*/
.cart .top{
    text-align: center;
    margin-bottom: 20px;
}
.cart h2{
    font-size: 16px;
    font-weight: bold;
/*    color: #ed5d55;*/
    padding-top: 7px;
    margin-bottom: 0px;
}
.cart img{
    width: 100%;
}
.cart h3{
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
/*    display: table;*/
    overflow: hidden;
    color: #232326;
}
.cart .p{
/*    font-size: 16px;*/
/*    height: 30px;*/
    color: #ff5959;
    float: left;
}
.cart .span1{
    color: #ff5959;
    font-size: 14px;
}
.cart .span2{
    color: #232326;
    font-size: 12px;
}
.cart .col-xs-6{
    padding: 15px;
}
.cart .row{
    margin: 0px;
}
.cart .container{
    margin: 0;
    padding: 0;
}
.cart .kan{
    font-size: 12px;
    color: #686868;
    border: 1px solid #e2e2e2;
/*    display: table;*/
    padding: 2px 4px;
    float: right;
}
.cart .ziying{
    background-image: url(../images/weinituijian/ziying.png);
    width: 33px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}
.cart .quanqiugou{
    background-image: url(../images/weinituijian/quanqiugou.png);
    width: 46px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}




/*---my---*/
/*--header部分样式-*/
.my .header{
    padding: 9px 10px;
    border-bottom: 1px #dddddd solid;
    background-color: #fff;
}
.my .header .aa{
    float: left;
    padding-right: 5px;
    width: 5%;
}
.my .header .center{
    float: left;
    text-align: center;
    width: 90%;
}
.my .header .center p{
    color: #333;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}
.my .header .a{
    float: right;
    width: 5%;
}
.my .header i{
    color: #333;
    font-size: 18px;
    margin-top: 4px;
}




/*---main部分样式--*/
.my .main .top{
    background-image: url(../images/my/bg.jpg);
    background-size: cover;
    height: 160px;
    text-align: center;
    margin-bottom: 66SSSpx;
}
.my .main .top .img img{
    width: 70px;
    height: 70px;
    margin-top: 30px;
}
.my .main .row img{
    width: 25px;
    height: 25px;
}
.my .main .row {
    margin: 0;
}
.my .main .top .col-xs-3{
    padding: 10px;
    margin-top: 50px;
    background-color: #fff;
}
.my .main .top .col-xs-3 p{
    margin: 0;
}
.my .main {
    background-color: #eee;
}
.my .main .dingdan{
    background-color: #fff;
    margin-bottom: 10px;
}
.my .main .dingdan p{
    margin: 0px;
    padding: 10px;
    color: #333;
}
.my .main .dingdan i{
    margin-right: 10px;
    font-size: 18px;
}
.my .main .dingdan span{
    float: right;
}
.my .main .dingdan1{
    background-color: #fff;
    margin-bottom: 10px;
}
.my .main .dingdan1 p{
    margin: 0px;
}
.my .main .dingdan1 .p{
    margin: 0px;
    padding: 10px;
    color: #333;
}
.my .main .dingdan1 .row{
    text-align: center;
}
.my .main .dingdan1 span{
    float: right;
}
.my .main .dingdan1 .col-xs-3{
    padding: 10px 0px;
}
.my .main .dingdan1 i{
    margin-right: 10px;
    font-size: 18px;
}





.bl{
    border-left:1px #dddddd solid;
}
.bt{
    border-top: 1px #dddddd solid;
}
.bb{
    border-bottom: 1px #dddddd solid;
}
.br{
    border-right: 1px #dddddd solid;
}
