<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>觅Me-京东</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="font-btn/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="me">
  
   <!-----底部导航--->
    <nav>
        <ul>
            <li>
                <a href="index.html"><i class="fa fa-home"></i><span>首页</span></a>
            </li>
            <li>
                <a href="sort.html"><i class="fa fa-tasks"></i><span>分类</span></a>
            </li>
            <li class="active">
                <a href="me.html"><i class="fa fa-times-circle-o"><i class=""></i></i><span>觅Me</span></a>
            </li>
            <li>
                <a href="cart.html" class="hott"><i class="fa fa-shopping-cart"></i><span>购物车</span></a>
            </li>
            <li>
                <a href=""><i class="fa fa-user-o"></i><span>我的</span></a>
            </li>
        </ul>
    </nav>
    <div class="me-top">
       <div class="top">
           <a href="#"><i class="fa fa-minus-square-o fa1"></i></a>
            <h1>觅·Me</h1>
            <a href="#"><i class="fa fa-commenting-o fa2"></i></a>
       </div>
       <div class="ul bb">
           <ul>
               <li class="active">精选</li>
               <li>关注</li>
               <li>视频购</li>
               <li>社区</li>
               <li>好东西</li>
               <li>直播</li>
               <li>数码</li>
           </ul>
        </div>
        <div class="me-btn"><a href=""><img src="images/me/top-btn.jpg" alt=""></a></div>
    </div>
<!--    <div class="meme-main">-->
    <div class="me-main">
       <div class="memes" id="me-main">
           <div class="row bt bb" v-for="meme in me">
                <div class="col-xs-8">
                    <h2>{{meme.h2}}</h2>
                    <p><i><img :src="meme.tx" alt=""></i>{{meme.p}}</p>
                </div>
                <div class="col-xs-4">
                    <img :src="meme.img" alt="">
                    <a :href="meme.pa"><p>{{meme.pp}}</p></a>
                </div>
            </div>
            <div cla
               ss="row" v-for="mem in mee">
                <div class="col-xs-12 bt bb">
                    <img :src="mem.img" alt="">
                    <h2>{{mem.h2}}</h2>
                    <p><i><img :src="mem.tx" alt="" class="tx"></i>{{mem.p}}</p>
                </div>
            </div>
            <div class="row bt bb" v-for="mee in mes">
                <div class="col-xs-8">
                    <h2>{{mee.h2}}</h2>
                    <p><i><img :src="mee.tx" alt=""></i>{{mee.p}}</p>
                </div>
                <div class="col-xs-4">
                    <img :src="mee.img" alt="">
                    <a :href="mee.pa"><p>{{mee.pp}}</p></a>
                </div>
            </div>
            <div cla
               ss="row" v-for="mems in mem">
                <div class="col-xs-12 bt bb">
                    <img :src="mems.img" alt="">
                    <h2>{{mems.h2}}</h2>
                    <p><i><img :src="mems.tx" alt="" class="tx"></i>{{mems.p}}</p>
                </div>
            </div>
       </div>
    
    <div class="memes">
          <div class="top-top">
              <p>登录后才能看关注的内容哦~</p>
              <a href="#"><p class="p">登录</p></a>
          </div>
          <div class="xihuan bt"><p>猜你喜欢TA</p></div>
          <div id="main-me">
           <div class="row bt bb mmm" v-for="memm in mm">
                <div class="col-xs-3">
                    <a href=""><img :src="memm.img" alt="" class="img1"></a>
                </div>
                <div class="col-xs-6">
                    <h2>{{memm.h2}}</h2>
                    <span>{{memm.span}}</span>
                    <p>{{memm.p}}</p>
                    <p></p>
                </div>
                <div class="col-xs-3">
                    <a :href="memm.imga" class="imga"><img :src="memm.imgbtn" alt="" class="img2"></a>
                </div>
            </div>
           </div>
    </div>
   </div> 
    
<!--    </div>-->
    
    
    
    
    
    <div class="totop"></div>
    
    
    <script src="js/vue.js"></script>
    <script src="js/timeCountDown.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper-4.2.6.min.js"></script>
    <script src="js/style.js"></script>
</body>
</html>